#Search {
  margin: auto;
  margin-top: 70px;
  width: 400px;
  height: 30px;
  padding-top: 10px;
}

#Search input {
  font-size: 18px;
}

#Search .searchbar {
  border: none;
  padding: 6px 8px 4px 8px;
  border-radius: 10px;
  float: left;
  background-color: white;
  color: black;
}

#Search .searchbar:focus {
  outline: none;
}

#Search select {
  font-size: 16px;
}

#Search .state-select {
  border: none;
  border-radius: 10px;
  padding: 6px;
  background-color: white;
  float: left;
  margin-left: 10px;
}

#Search .state-select-dropdown {
  background-color: rgb(255, 255, 255, 0);
}

#Search button {
  float: left;
  margin-left: 10px;
  height: 32px;
  width: 60px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: white;
  font-size: 16px;
}

#Search button:hover {
  cursor: pointer;
}

#Search button:active {
  opacity: 0.8;
}
