#WeeklyView {
    position: relative;
    width: 50%;
    margin: 25px auto;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
}

#WeeklyView .current-weather {
    width: 50%;
    margin: 15px auto;
    padding: 50px;
}

#WeeklyView .current-weather p {
    color: white;
    font-size: 2rem;
}

#WeeklyView .daily-weather, .current-weather {
    position: absolute;
    top: 30%;
    left: 20%;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

#WeeklyView .daily-weather-container {
    position: relative;
    text-align: center;
    /* display: inline-flex; */
    border-radius: 15px;
}

#WeeklyView .daily-weather-cards img {
    object-fit: cover;
    border-radius: 10px;
    height: 300px;
    width: auto;
    /* filter: grayscale(.6); */
}

#WeeklyView .current-weather-card img {
    width: 100%;
}